body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    
    height: 100%; /* Ensure the height of the html and body is 100% */
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 33.33%;
    background-color: white; /* Changed sidebar color to white */
    padding: 10px;
    border-right: 5px solid black; /* Thick black vertical line */
    display: flex; /* Use flexbox for sidebar */
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Align items to the top */
    
    height: 100vh; /* Set height of sidebar to full viewport height */
}

.sidebar-header {
    text-align: center;
}

.sidebar-logo {
    width: 80%;
}

.search-bar {
    width: 90%; /* Shortened the width of the search bar */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu {
    margin: 10px 0;
}

.submenu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.submenu li {
    margin: 5px 0;
}

.menu-header {
    cursor: pointer;
    font-weight: bold;
}

.main-content {
    width: 66.67%;
    padding: 20px;

    flex-grow: 1; /* Allow main content to take remaining space */
    padding: 10px; /* Padding for the main content area */
}

/* Style for the code block */
pre {
    background-color: lightgray;
    padding: 10px;
    overflow: auto;
    position: relative; /* Add position relative for button positioning */
}

.copy-button {
    position: absolute; /* Position button at the top right */
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    cursor: pointer;
    margin-top: 10px;
}
